body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #EE5037, #ffa597 );
    background-attachment: fixed;
    color: #202020;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#survey-form {
    width: 60vw;
    max-width: 750px;
    min-width: 400px;
    margin: 0 auto;
    padding: 0 1.5em 1.5em 1.5em;
    background: linear-gradient(to bottom right, #57b4ff, #1688E5 );
    border: 3px solid #454545;
    border-radius: 20px;
}

#title,
#description {
    text-align: center;
}

#name-label,
#email-label,
#number-label {
    width: 99%;

}

#name-label,
#email-label {
    margin-bottom: 24px;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #454545;
    padding: 28px 0;
}

fieldset:last-of-type {
    border: none;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    background: linear-gradient(to bottom right, #454545, #555555 );
    border: 2px solid #2e2e2e;
    border-radius: 5px;
    color: #f7f7f7;
    font-size: 16px;
}

.inline {
    width: unset;
    margin: -3px 0 0 0;
    vertical-align: middle;
}

select {
    width: 70%;
}

#first-selection {
    margin-bottom: 24px;
}

option {
    color: #202020;
}

input[type="submit"] {
    display: block;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 12px;
    height: 2.3em;
    font-size: 1.1rem;
    min-width: 250px;
}

input[type="submit"]:hover {
    background: linear-gradient(to bottom right, #EE5037, #ffa597 );
    color: #202020;
}

i {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

div {
    min-width: 100%;
    height: 80px;
}